.container-santer {
  background: #ffffff;
}
.sante {
  background-color: #4f83d6;
  height: 200px;
}
.sante .title {
  color: #f8f8f8;
  white-space: normal;
  text-align: center;
  font-weight: bold;
}
.para-sante {
  text-align: center;
  color: #f8f8f8;
  font-size: 24px;
  font-weight: bold;
}
.cardcard{
animation-name: example;
animation-duration: 4s;
}

@keyframes example {
from {background-color:red ;}
to {background-color:#0046C0 ;}
}










.section-cards,
.image-doctor {
  margin-top: 30px;
}
.title-card {
  font-weight: 600;
}
.icone {
  font-size: 68px;
  color: #4f83d6;
}
.section-image {
  margin: auto;
}
.contain2 h1 {
  font-weight: bold;
}
.contain2 {
  margin-top: 60px;
}
.contain2 .card {
  background: #0046c0;
}
.icone-icone {
  height: 100px;
  width: 100px;
  background: #f8f8f8;
  margin: auto;
  border-radius: 50%;
  font-size: 50px;
  color: #4f83d6;
}
.contain2 .title-card {
  color: #f8f8f8;
  font-weight: bold;
  font-size: 24px;
}



.image-doctor:hover{animation:transition 7s ease infinite;
        transform:scale(1.2);
        font-size:0px;
        transition:font-size 0.3s;}

@keyframes transition{
0%{background-color:#0046C0;

   box-shadow:25px 25px 5px #0046C0 ;}
7.1%{background-color:#0046C0;
     box-shadow:25px 25px 5px #0046C0;}
14.3%{background-color:rgba(75,0,130,1);
      box-shadow:25px 25px 5px rgba(75,0,130,0.7);}
21.4%{background-color:rgba(75,0,130,0.5);
      box-shadow:25px 25px 5px rgba(75,0,130,0.3);}
28.6%{background-color:rgba(0,0,255,1);
      box-shadow:25px 25px 5px rgba(0,0,255,0.7);}
35.7%{background-color:rgba(0,0,255,0.5);
      box-shadow:25px 25px 5px rgba(0,0,255,0.3);}
}