

.container-santer{
  background: #FFFFFF;
}
.sante{
  background-color: #4F83D6;
  height: 200px;
  
}
.sante .title{
  color: #F8F8F8;
  white-space: normal;
  text-align: center;
  font-weight: bold;
}
.para-sante{
  text-align: center;
  color: #F8F8F8;
  font-size: 24px;
  font-weight: bold;

}
.section-cards{
  margin-top: 30px;
}
.title-card{
    font-weight: 600;
}
.image{
  width: 100px;
  height: 100px;

}
.section-image{
  margin: auto;
}